In [1]:
import pandas as pd
import numpy as np

In [2]:
# from https://github.com/TimeMagazine/congressional-election-results

cong2004 = pd.read_csv("results_2004.txt")
cong2006 = pd.read_csv("results_2006.txt")
cong2008 = pd.read_csv("results_2008.txt")
cong2010 = pd.read_csv("results_2010.txt")
cong2012 = pd.read_csv("results_2012.txt")
cong2014 = pd.read_csv("results_2014.txt")

In [3]:
results = pd.concat([cong2004, cong2006, cong2008, cong2010, cong2012, cong2014])

In [4]:
# from https://github.com/MEDSL

senate2018 = pd.read_csv("senate_overall_2018.txt")

In [19]:
results.head()

,id,year,name,state,district,votes,parties
0,2004_AL_01,2004,"Bonner, Jo",AL,01,161067,Republican
1,2004_AL_01,2004,"Belk, Judy",AL,01,93938,Democratic
2,2004_AL_02,2004,"Everett, Terry",AL,02,177086,Republican
3,2004_AL_02,2004,"James, Charles D. (Chuck)",AL,02,70562,Democratic
4,2004_AL_03,2004,"Rogers, Mike",AL,03,150411,Republican

In [5]:
cong2004.head()

,id,year,name,state,district,votes,parties
0,2004_AL_01,2004,"Bonner, Jo",AL,01,161067,Republican
1,2004_AL_01,2004,"Belk, Judy",AL,01,93938,Democratic
2,2004_AL_02,2004,"Everett, Terry",AL,02,177086,Republican
3,2004_AL_02,2004,"James, Charles D. (Chuck)",AL,02,70562,Democratic
4,2004_AL_03,2004,"Rogers, Mike",AL,03,150411,Republican

In [6]:
senate2018.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Martha McSally,republican,False,total,1135200,2384308,False,20190110
1,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Kyrsten Sinema,democrat,False,total,1191100,2384308,False,20190110
2,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Angela Green,green,False,total,57442,2384308,False,20190110
3,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,NaN,NaN,True,total,566,2384308,False,20190110
4,2018,California,CA,6,93,71,US Senate,statewide,gen,False,Dianne Feinstein,democrat,False,total,6019422,11113364,False,20190110

In [52]:
# from https://transition.fec.gov/general/FederalElections2016.shtml

senate2016 = pd.read_excel("federal2016.xlsx", "2016 US Senate Results by State")
house2016 = pd.read_excel("federal2016.xlsx", "2016 US House Results by State")
federal2016 = pd.concat([senate2016, house2016])

senate2014 = pd.read_excel("federal2014.xls", "2014 US Senate Results by State")
house2014 = pd.read_excel("federal2014.xls", "2014 US House Results by State")
federal2014 = pd.concat([senate2014, house2014])

federal2012 = pd.read_excel("federal2012.xls", "2012 US House & Senate Results")

fed12_16 = pd.concat([federal2016, federal2014, federal2012])
fed12_16.drop(1, axis=1, inplace=True)
fed12_16.drop(1, axis=0, inplace=True)

In [113]:

fed12_16.columns = ["STATE ABBREVIATION", "STATE", "DISTRICT", "FEC ID#", "INCUMBENT INDICATOR (I)", "CANDIDATE NAME (FIRST)", "CANDIDATE NAME (LAST)", "CANDIDATE NAME (LAST, FIRST)", "TOTAL VOTES", "PARTY", "PRIMARY VOTES", "PRIMARY %", "PRIMARY RUNOFF VOTES", "PRIMARY RUNOFF %", "GENERAL VOTES", "GENERAL %", 'GENERAL RUNOFF VOTES', 'GENERAL RUNOFF %', 'COMBINED GE PARTY TOTALS (CT, NY, SC)', 'COMBINED % (CT, NY, SC)', 'GENERAL WINNER INDICATOR', 'FOOTNOTES']
cols = fed12_16.columns

In [128]:
federal2010 = pd.read_excel("federal2010.xls", "2010 US House & Senate Results")
federal2010.drop("Unnamed: 20",axis=1, inplace = True)
federal2010.drop(1, axis=1, inplace=True)

In [129]:
federal2010.rename(columns={'CANDIDATE NAME (First)': 'CANDIDATE NAME (FIRST)', 'CANDIDATE NAME (Last)': 'CANDIDATE NAME (LAST)', 'CANDIDATE NAME (Last, First)': 'CANDIDATE NAME (LAST, FIRST)', "PRIMARY": "PRIMARY VOTES", "RUNOFF": "PRIMARY RUNOFF VOTES", 'RUNOFF %': "PRIMARY RUNOFF %", "GENERAL ": "GENERAL VOTES"}, inplace=True)

In [130]:
list(enumerate(federal2010.columns))

[(0, 'STATE'),
 (1, 'STATE ABBREVIATION'),
 (2, 'DISTRICT'),
 (3, 'FEC ID#'),
 (4, 'INCUMBENT INDICATOR (I)'),
 (5, 'CANDIDATE NAME (FIRST)'),
 (6, 'CANDIDATE NAME (LAST)'),
 (7, 'CANDIDATE NAME (LAST, FIRST)'),
 (8, 'TOTAL VOTES'),
 (9, 'PARTY'),
 (10, 'PRIMARY VOTES'),
 (11, 'PRIMARY %'),
 (12, 'PRIMARY RUNOFF VOTES'),
 (13, 'PRIMARY RUNOFF %'),
 (14, 'GENERAL VOTES'),
 (15, 'GENERAL %'),
 (16, 'COMBINED GE PARTY TOTALS (CT, NY, SC)'),
 (17, 'COMBINED % (CT, NY, SC)'),
 (18, 'FOOTNOTES')]

In [132]:

federal2010['GENERAL RUNOFF VOTES'] = np.nan
federal2010['GENERAL RUNOFF %'] = np.nan
federal2010['GENERAL WINNER INDICATOR'] = np.nan

federal2010 = federal2010[cols]

list(enumerate(federal2010.columns))
# add 'GE RUNOFF ELECTION VOTES (LA)', 'GE RUNOFF ELECTION % (LA)'
# 'GE WINNER INDICATOR'

[(0, 'STATE ABBREVIATION'),
 (1, 'STATE'),
 (2, 'DISTRICT'),
 (3, 'FEC ID#'),
 (4, 'INCUMBENT INDICATOR (I)'),
 (5, 'CANDIDATE NAME (FIRST)'),
 (6, 'CANDIDATE NAME (LAST)'),
 (7, 'CANDIDATE NAME (LAST, FIRST)'),
 (8, 'TOTAL VOTES'),
 (9, 'PARTY'),
 (10, 'PRIMARY VOTES'),
 (11, 'PRIMARY %'),
 (12, 'PRIMARY RUNOFF VOTES'),
 (13, 'PRIMARY RUNOFF %'),
 (14, 'GENERAL VOTES'),
 (15, 'GENERAL %'),
 (16, 'GENERAL RUNOFF VOTES'),
 (17, 'GENERAL RUNOFF %'),
 (18, 'COMBINED GE PARTY TOTALS (CT, NY, SC)'),
 (19, 'COMBINED % (CT, NY, SC)'),
 (20, 'GENERAL WINNER INDICATOR'),
 (21, 'FOOTNOTES')]

In [34]:
federal2008 = pd.read_excel("federal2008.xls", "2008 House and Senate Results")

federal2006 = pd.read_excel("federal2006.xls", "2006 US House & Senate Results")

federal2004 = pd.read_excel("federal2004.xls", "2004 US HOUSE & SENATE RESULTS")

In [42]:
# columns are the same for 16, 14, 12

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [133]:

federal2008.drop(1, axis=1, inplace=True)

In [142]:
federal2008.rename(columns={'CANDIDATE NAME (First)': 'CANDIDATE NAME (FIRST)', 'Candidate Name (Last)': 'CANDIDATE NAME (LAST)', 'CANDIDATE NAME': 'CANDIDATE NAME (LAST, FIRST)', "PRIMARY": "PRIMARY VOTES", "RUNOFF": "PRIMARY RUNOFF VOTES", 'RUNOFF %': "PRIMARY RUNOFF %", "GENERAL ": "GENERAL VOTES", "GE RUNOFF": "GENERAL RUNOFF VOTES", "GE RUNOFF %": "GENERAL RUNOFF %"}, inplace=True)
federal2008.columns

Index(['STATE', 'STATE ABBREVIATION', 'DISTRICT', 'FEC ID#',
       'INCUMBENT INDICATOR (I)', 'CANDIDATE NAME (FIRST)',
       'CANDIDATE NAME (LAST)', 'CANDIDATE NAME (LAST, FIRST)', 'TOTAL VOTES',
       'PARTY', 'PRIMARY VOTES', 'PRIMARY %', 'PRIMARY RUNOFF VOTES',
       'PRIMARY RUNOFF %', 'GENERAL VOTES', 'GENERAL %',
       'GENERAL RUNOFF VOTES', 'GENERAL RUNOFF %',
       'COMBINED GE PARTY TOTALS (CT, NY)', 'COMBINED % (CT, NY)',
       'FOOTNOTES'],
      dtype='object')

In [146]:

federal2006.drop("#", axis=1, inplace=True)

In [160]:
federal2006.rename(columns={"FEC ID":"FEC ID#", "FIRST NAME": "CANDIDATE NAME (FIRST)", "LAST NAME":"CANDIDATE NAME (LAST)", "LAST NAME, FIRST": "CANDIDATE NAME (LAST, FIRST)", "PRIMARY": "PRIMARY VOTES", "RUNOFF": "PRIMARY RUNOFF VOTES", "RUNOFF %": "PRIMARY RUNOFF %", "GENERAL": "GENERAL VOTES", "GE RUNOFF": "GENERAL RUNOFF VOTES", "GE RUNOFF %": "GENERAL RUNOFF %", "Notes (See Endnotes Tab)": 'FOOTNOTES'}, inplace=True)

In [161]:
federal2006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3710 entries, 0 to 3709
Data columns (total 21 columns):
STATE                                3710 non-null object
STATE ABBREVIATION                   3710 non-null object
DISTRICT                             3710 non-null object
FEC ID#                              2090 non-null object
INCUMBENT INDICATOR                  496 non-null object
CANDIDATE NAME (FIRST)               2158 non-null object
CANDIDATE NAME (LAST)                2377 non-null object
CANDIDATE NAME (LAST, FIRST)         2378 non-null object
TOTAL VOTES                          1332 non-null object
PARTY                                3171 non-null object
PRIMARY VOTES                        3128 non-null object
PRIMARY %                            1546 non-null float64
PRIMARY RUNOFF VOTES                 37 non-null float64
PRIMARY RUNOFF %                     16 non-null float64
GENERAL VOTES                        2091 non-null object
GENERAL %                            1562 non-null float64
GENERAL RUNOFF VOTES                 8 non-null float64
GENERAL RUNOFF %                     4 non-null float64
COMBINED GE PARTY TOTALS (NY, SC)    118 non-null float64
COMBINED % (NY, SC)                  118 non-null float64
FOOTNOTES                            368 non-null object
dtypes: float64(8), object(13)
memory usage: 608.8+ KB

In [165]:
results = pd.concat([fed12_16, federal2010, federal2008, federal2006], axis=0)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [167]:
results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26640 entries, 0 to 3709
Data columns (total 27 columns):
CANDIDATE NAME (FIRST)                   15066 non-null object
CANDIDATE NAME (LAST)                    16590 non-null object
CANDIDATE NAME (LAST, FIRST)             17054 non-null object
COMBINED % (CT, NY)                      119 non-null float64
COMBINED % (CT, NY, SC)                  649 non-null float64
COMBINED % (NY, SC)                      118 non-null float64
COMBINED GE PARTY TOTALS (CT, NY)        119 non-null float64
COMBINED GE PARTY TOTALS (CT, NY, SC)    649 non-null float64
COMBINED GE PARTY TOTALS (NY, SC)        118 non-null float64
DISTRICT                                 24973 non-null object
FEC ID#                                  14693 non-null object
FOOTNOTES                                1878 non-null object
GENERAL %                                9886 non-null float64
GENERAL RUNOFF %                         20 non-null float64
GENERAL RUNOFF VOTES                     35 non-null float64
GENERAL VOTES                            13099 non-null object
GENERAL WINNER INDICATOR                 1534 non-null object
INCUMBENT INDICATOR                      496 non-null object
INCUMBENT INDICATOR (I)                  2439 non-null object
PARTY                                    21157 non-null object
PRIMARY %                                11103 non-null object
PRIMARY RUNOFF %                         194 non-null float64
PRIMARY RUNOFF VOTES                     488 non-null object
PRIMARY VOTES                            20692 non-null object
STATE                                    26342 non-null object
STATE ABBREVIATION                       26343 non-null object
TOTAL VOTES                              7815 non-null object
dtypes: float64(10), object(17)
memory usage: 5.7+ MB

26640